<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dlisto-001-site1.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://dlisto-001-site1.ftempurl.com:8172/MsDeploy.axd?site=dlisto-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>dlisto-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>dlisto-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DeliveryEntidades1" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5063.site4now.net;Initial Catalog=DB_A65069_dlisto;User ID=DB_A65069_dlisto_admin;Password=Dlisto12Qw3" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="capaModelos.Modelos.DeliveryEntidades1, capaModelos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DeliveryEntidades1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Modelos.ModeloDelivery.csdl|res://*/Modelos.ModeloDelivery.ssdl|res://*/Modelos.ModeloDelivery.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5063.site4now.net;Initial Catalog=DB_A65069_dlisto;User ID=DB_A65069_dlisto_admin;Password=Dlisto12Qw3"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>